@import url('/kyouyuu/css/theme.css');

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1em 2em;
  gap: 2em;
  height: 3em;
}

header .logo {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

header .title {
  margin: auto 0.5em;
  font-weight: normal;
  font-size: 1.1em;
}

@media only screen and (max-width: 768px) {
  header .title {
    display: none;
  }
}

header .spacer {
  flex: 1;
  flex-grow: 1;
  flex-shrink: 0;
}

header .spacer-small {
  width: 1em;
}

header h3 {
  font-weight: normal;
}

header a {
  font-weight: normal;
  font-size: 1.15em;
  color: var(--on-background-color);
}

header a:hover {
  color: rgba(var(--on-background), 0.5);
}

header .fa-brands {
  font-size: 1.5em;
}

header .fa-solid {
  font-size: 1.5em;
}

header .profile {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  height: 100%;
  margin: 0;
  padding: 0;
}

header .profile .avatar {
  height: 75%;
  margin: auto;
  padding: 0;
  display: flex;
  background-color: rgba(var(--on-background), 0.1);
}

header .profile-name {
  margin: auto
}

@media only screen and (max-width: 768px) {
  header .profile-name {
    display: none;
  }
}
